@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
:root {
    --DarkGray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --VeryDarkGray: hsl(0, 0%, 27%);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'League Spartan', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 67% 33%;
}

.slider {
    grid-column: 1 /-1;
    display: flex;
}

.slider-left {
    flex-basis: 58.5%;
    object-fit: cover;
}

.slider-left>img {
    height: 100%;
}

.slider-right {
    flex-basis: 41.5%;
    position: relative;
}

.slider-right-content {
    height: 100%;
    width: 100%;
    padding: 10.21em 8.4em;
}

.shop-now {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.75em;
    margin-top: 1.5em;
}

.slider-title {
    font-size: 3.67rem;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.slider-content {
    color: var(--DarkGray);
    font-size: 1.3rem;
    line-height: 1.4em;
}

.desktop.slider-contorller {
    height: 79px;
    width: 158px;
    bottom: 0;
    position: absolute;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.center {
    padding: 4em 3.9em;
}

.center-title {
    font-size: 1.4rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.center-content {
    color: var(--DarkGray);
    font-size: 1.3rem;
    line-height: 1.4em;
}

header {
    position: absolute;
    left: 4.8%;
    top: 66px;
    color: var(--White);
    font-size: 1.3rem;
}

nav {
    display: flex;
    gap: 56px;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media screen and (max-width: 1300px) {
    .slider-left {
        flex-basis: auto;
        object-fit: cover;
    }
    .slider-right {
        flex-basis: auto;
        position: relative;
    }
    .slider-right-content {
        height: 100%;
        width: 100%;
        padding: 2.21em 2.4em;
    }
    .center {
        grid-area: 2 / -1;
    }
    .left {
        visibility: hidden;
    }
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 750px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slider {
        flex-direction: column;
        align-items: center;
    }
    .slider-left {
        position: relative;
        flex-basis: auto;
    }
    .slider-left>img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    .slider-right {
        width: auto;
        flex-basis: auto;
        position: static;
    }
    .slider-right-content {
        height: 100%;
        width: 100%;
        padding: 5.2rem 2.6rem;
    }
    .shop-now {
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 0.75em;
        margin-top: 1.5em;
    }
    .slider-title {
        font-size: 3.0rem;
        font-weight: 700;
        margin: default;
    }
    .slider-content {
        color: var(--DarkGray);
        font-size: 1.3rem;
        line-height: 1.4em;
    }
    .desktop.slider-contorller {
        display: none;
    }
    .slider-contorller {
        height: 55px;
        width: 112px;
        bottom: 0;
        right: 0;
        position: absolute;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .left {
        object-fit: cover;
        width: 100%;
    }
    .left>img {
        width: 100%;
    }
    .right>img {
        width: 100%;
    }
    .center {
        padding: 4em 3.9em;
    }
    .center-title {
        font-size: 1.4rem;
        letter-spacing: 0.4em;
        text-transform: uppercase;
    }
    .center-content {
        color: var(--DarkGray);
        font-size: 1.3rem;
        line-height: 1.4em;
    }
    header {
        position: absolute;
        padding-left: 5.5%;
        top: 45px;
        color: var(--White);
        z-index: 100;
        font-size: 1.3rem;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 30vw;
    }
    .nav-list {
        display: none;
        gap: 30px;
    }
    .drawer {
        display: none;
        align-items: center;
        padding: 40px 20px;
        background-color: white;
        color: black;
        position: absolute;
        z-index: 1000;
        left: 0px;
        gap: 20px;
        top: 0px;
        font-size: 1.5rem;
        width: 100vw;
    }
    .drawer>img {
        margin-right: 20px;
    }
}