@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
:root {
    --DarkGray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --VeryDarkGray: hsl(0, 0%, 27%);
}

* {
    box-sizing: content-box;
}

html {
    font-size: 12px;
    font-family: 'League Spartan', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 67% 33%;
}

.slider {
    background-color: rebeccapurple;
    grid-column: 1 /-1;
    display: flex;
}

.slider-left {
    flex-basis: 58.5%;
    object-fit: cover;
}

.slider-left>img {
    height: 100%;
}

.slider-right {
    background-color: pink;
    flex-basis: 41.5%;
    position: relative;
}

.slider-contorller {
    height: 79px;
    width: 158px;
    bottom: 0;
    position: absolute;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    background-color: red;
}

.center {
    background-color: yellowgreen;
}

.right {
    background-color: blue;
}